<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team64.waterworks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="team64.waterworks.controllers.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="team64.waterworks.controllers.LoginActivity" />
        <activity android:name="team64.waterworks.controllers.HomeActivity" />
        <activity android:name="team64.waterworks.controllers.RegisterActivity" />
        <activity android:name="team64.waterworks.controllers.ProfileActivity" />
        <activity android:name="team64.waterworks.controllers.WaterReportActivity" />
        <activity android:name="team64.waterworks.controllers.AllWaterReportsActivity" />
    </application>

</manifest>